/*
Theme Name: Salient Work-Shop
Theme URI: http: //workshopri.com/
Description: Salient Child Theme for Local Kitchen and Wine Bar
Author: Work-Shop
Author URI: http: //workshopri.com/
Template: salient
Version: 0.0.1
*/

@import url("../salient/style.css");


/*******************************
**** COLOR *********************
********************************/

$black: #0b364c;
$blue-dk: #0b364c;
$white: #ffffff;


/*******************************
**** TYPOGRAPHY ****************
********************************/

@font-face {font-family: "AvenirLTPro-Oblique";src: url('fonts/avenir/2E51D9_0_0.eot');src: url('fonts/avenir/2E51D9_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/avenir/2E51D9_0_0.woff2') format('woff2'),url('fonts/avenir/2E51D9_0_0.woff') format('woff'),url('fonts/avenir/2E51D9_0_0.ttf') format('truetype');}
@font-face {font-family: "AvenirLTPro-Roman";src: url('fonts/avenir/2E51D9_1_0.eot');src: url('fonts/avenir/2E51D9_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/avenir/2E51D9_1_0.woff2') format('woff2'),url('fonts/avenir/2E51D9_1_0.woff') format('woff'),url('fonts/avenir/2E51D9_1_0.ttf') format('truetype');}
@font-face {font-family: "AvenirLTPro-Heavy";src: url('fonts/avenir/2E51D9_2_0.eot');src: url('fonts/avenir/2E51D9_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/avenir/2E51D9_2_0.woff2') format('woff2'),url('fonts/avenir/2E51D9_2_0.woff') format('woff'),url('fonts/avenir/2E51D9_2_0.ttf') format('truetype');}  
@font-face {font-family: "AvenirLTPro-HeavyOblique";src: url('fonts/avenir/2E51D9_3_0.eot');src: url('fonts/avenir/2E51D9_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/avenir/2E51D9_3_0.woff2') format('woff2'),url('fonts/avenir/2E51D9_3_0.woff') format('woff'),url('fonts/avenir/2E51D9_3_0.ttf') format('truetype');}

$serif: "Playfair Display";
$sans-serif: "AvenirLTPro-Roman";
$bold: "AvenirLTPro-Heavy";
$italic: "Georgia Italic";

body {
	color: $blue-dk;
}

h1, h2, h3, h4, h5, h6, nav a, #footer-outer .widget h4, .text-on-hover-wrap .categories a {
	font-family: $bold;
	letter-spacing: 0.025em;
}

#call-to-action span {
	font-family: $serif;
}

#footer-outer {
	background-size: 240px 240px;
	background-repeat: no-repeat;
	background-position: 50% 140%;
	#copyright {
		background-color: transparent;
	}
}
@media only screen and (max-width: 1000px) {
	#footer-outer { background-position: 50% 105%; }
}


/*******************************
**** MENU PAGES ****************
********************************/

.menu {

	text-align: center;

	/* GENERAL */

	h1, h2, h3 {
		line-height: 1em;
	}

	h1, h2 {
		font-weight: 400;
		font-family: $serif;
		text-transform: uppercase;
		letter-spacing: 0.25em;
	}

	h2, h3 {
		color: $black;
	}

	h1 {
		font-size: 2.25em;
		color: $white;
		text-align: center;
		margin: 0;
		padding: 0.5em 0;
		background: $blue-dk;
	}

	h2 {
		font-size: 1.325em;
		padding-bottom: 0.375em;
		border-bottom: 1px solid;
		display: inline-block;
		margin: 0.275em 0 1.25em;
	}

	h3 {
		font-size: 1em;
		text-transform: lowercase;
		font-family: $bold;
		margin: 0;
	}

	h3, p {
		font-size: 0.825em;
		letter-spacing: 0.025em;
	}

	p {
		text-transform: lowercase;
		font-family: $sans-serif;
	}

	.numerals {
		font-family: $italic;
		font-style: italic;
	}

	/* SITE-SPECIFIC */

	article {
		margin-top: 3em;
	}

	section {
		margin-top: 2em;
	}

	.photo {
		width: 100%;
		height: 200px;
		background-size: cover;
	}

	h3 .numerals {	
		margin-left: 0.75em;
	}

	.menu-item {
		p {
			padding: 0.25em 0 0;
		}
		+ .menu-item {
			margin-top: 1em;
		}
	}

} /* end .menu */

.page-template-menus, .single-menus, .post-type-archive-menus {
	.container-wrap {
		padding-top: 8px; /* magic number */
		padding-bottom: 48px;
	}
}


